<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ClaudeTimer"
           Manufacturer="Timewinder"
           Version="$(var.AppVersion)"
           UpgradeCode="21F87CB7-9898-4F17-A4F0-90A018357583"
           Scope="perUser"
           InstallerVersion="500"
        Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="En nyere version af ClaudeTimer er allerede installeret." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="..\..\src\ClaudeTimer\Logo\Logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPNOMODIFY" Value="1" />

    <Feature Id="MainFeature" Title="ClaudeTimer" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="ClaudeTimer" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramMenuFolder" Name="ClaudeTimer" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**" />
    </ComponentGroup>

    <Component Id="StartMenuShortcutComponent" Directory="AppProgramMenuFolder" Guid="AE218742-A12B-455C-9CBF-C68D804DCC1E">
      <Shortcut Id="StartMenuShortcut"
                Name="ClaudeTimer"
                Target="[INSTALLFOLDER]ClaudeTimer.exe"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveAppProgramMenuFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Timewinder\ClaudeTimer" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="B6CA4BBF-EA5C-4AD1-BC2C-F64B22D9E57D">
      <Shortcut Id="DesktopShortcut"
                Name="ClaudeTimer"
                Target="[INSTALLFOLDER]ClaudeTimer.exe"
                WorkingDirectory="INSTALLFOLDER" />
      <RegistryValue Root="HKCU" Key="Software\Timewinder\ClaudeTimer" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>