<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ClaudeTimer"
           Manufacturer="Timewinder"
           Version="$(var.AppVersion)"
           UpgradeCode="A08F5A6A-33A9-4C83-AC97-13807017491A"
           Scope="perMachine"
           InstallerVersion="500"
           Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="En nyere version af ClaudeTimer er allerede installeret." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="..\..\src\ClaudeTimer\Logo\Logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPNOMODIFY" Value="1" />

    <Feature Id="MainFeature" Title="ClaudeTimer" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ClaudeTimer" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>